/* Creation des polices perso */ 
@font-face {
    font-family: "Norse";
    src: url(/fonts/Norse.otf) format(opentype);
    font-weight: 400;
}
  
  @font-face {
    font-family: "Norse";
    src: url(/Fonts/Norse-Bold.otf) format(opentype);
    font-weight: 700;
}

:root {

/* Colors */
    --color-red: #fd0008;
    --color-yellow: #ffdc00;
    --color-orange-light: #ff8a00;
    --color-orange: #ff9100;
    --color-white: #ffffff;
    --color-primary: #F6F5F2;
    --color-secondary: #320000;

/* Fonts */
    --font-family-heading: "Norse", serif;
    --font-family-base: "Roboto", serif;

/* Font weight */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

/* Font size*/
    --font-size-base: clamp(1rem, 0.929rem + 0.2273vw, 1.125rem);
    --font-size-lg: clamp(1.125rem, 0.9119rem + 0.6818vw, 1.5rem);
    --font-size-xl: clamp(2.125rem, 1.7131rem + 1.3182vw, 2.85rem);
    --font-size-2xl: clamp(2.5rem, 1.7898rem + 2.2727vw, 3.75rem);


}
/* BASE */
body{
    width: 1910px;
    margin: auto;
    height: 8000PX;
    

}

h1 {
    font-family: var(--font-family-heading)
}



nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    text-decoration: nones;
}

nav a {
    text-emphasis: none;
    text-decoration: none;
}

header {
    background-color: var(--color-orange);
    background-repeat: no-repeat;
    height: max-content;
}


/* LAYOUT */


a {
    text-decoration: none;
}

ul { 
    display: flex;
    gap: 1rem;
}

li {
    list-style: none;

}



/* COMPONENTS */
.header-nav {
     padding-left: 5%;
}


.header-nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: var(--font-size-base);
    
    }

.header-nav li {
    padding: 15px;
    
} 

.header-general {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    height: 50px;
}

.boxe-header-connection a {
    display: block;
    background-color: var(--color-orange-light); 
    font-size: var(--font-size-base);
    
}

.header-logo {
    height: 50px;
}



.banniere {
    display: flex;
    flex-direction: column;
    background-image:url(images/IMG_4448_m.JPG) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;

  
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}